.footerContainer {
    width: 100%;
    height: 100%;
    background: lightsalmon;
    position: relative;
    display: flex;
    .footer-content{
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        .social-links-container{
            color: white;
            display: flex;
            flex-direction: column;
            .social-links{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }
  }
