body.pinkScroll {
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background-color: #252525;
  }

  &::-webkit-scrollbar-thumb {
    background: #d4003f;
  }
}
.element-name {
  z-index: 10;
  position: absolute;
  font-size: 12px;
  // background-color: #d4003f;
  background-color: rgba(97, 97, 97, 0.92);
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 2s linear;
}
.me-container {
  background-color: #252525;
  color: white;
  overflow-x: hidden;
  // transform-style: preserve-3d;
  // height: 100%;
  .skills-section {
    height: 800px;
    position: relative;
    z-index: 1;

    svg {
      // background-color: #000;
      // transform: translateY(-15%);
      // margin-top: -300px;
      @media (max-width: 480px) {
        transform: translateY(-230px) scale(0.4) !important;
        overflow: visible;
      }
      .m1_stage {
        transform: translate(50%, 40%) scale(0.7) !important;
        // image{
        //   cursor: pointer;
        // }
      }
    }
    // position: relative;
    // width: 100vw;
    // background-color: #000;
    // display: grid;
    // grid-template-columns: 50vw 50vw;
    // min-height: 400px;
    // margin: 50px 0;
    // svg{
    //   position: absolute;
    //   right: 0;
    //   top
    // }
    // .skills-icon{
    //   display: flex;
    //   justify-content: flex-end;
    // }
  }
  .contact-icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    @media (max-width: 480px) {
      flex-flow: wrap;
      row-gap: 40px;
      column-gap: 20px;
      justify-content: space-between;
      padding: 0 10px;

    }

    @media (max-width: 390px) {
      column-gap: 10px;
      padding: 0 5px;

    }

    .link {
      display: flex;
      align-items: center;
      img {
        height: 35px;
      }
      a {
        font-size: 1.6rem;
        height: fit-content;
        margin-left: 10px;
      }
    }
  }
  .me-intro {
    width: 90%;
    position: relative;
    padding-top: 120px;
    display: flex;
    @media (max-width: 480px) {
      width: 100vw;
      display: block;
    }
    .info {
      width: 52%;
      // color: white;
      display: flex;
      flex-direction: column;
      padding-top: 50px;
      @media (max-width: 480px) {
        width: 100%;
        padding-top: 0;
        display: block;
        justify-content: center;
      }
      .name-container {
        transform: translateX(-70px);
        font-family: "Playfair Display", serif;
        font-weight: bold;
        .my-name {
          width: max-content;
          margin: 30px 0;
        }
        @media (max-width: 480px) {
          transform: translate(-50px, -250px) scale(0.65);
        }
      }
      .intro-text {
        width: 60%;
        align-self: flex-end;
        font-weight: bold;
        @media (max-width: 480px) {
          display: flex;
          align-self: center;
          width: 95vw;
          padding: 0 20px;
          transform: translateY(-150px);
        }
      }
    }
    .img-container {
      background-color: #d4003f;
      width: 48%;
      height: calc(90vh);
      position: relative;
      .my-image {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: 480px) {
          object-fit: cover;
        }
      }

      @media (max-width: 480px) {
        width: 100vw;
      }
    }
  }
  .about-me {
    width: 80%;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    margin-top: 150px;
    @media (max-width: 480px) {
      width: 95%;
    }
  }
  .summary-container {
    display: flex;
    margin-top: 120px;
    width: 100%;
    font-weight: bold;
    @media (max-width:480px) {
      margin-top: -120px;

    }
    .summary-title {
      width: 35%;
      text-align: center;
    }
    .summary {
      width: 65%;
    }
  }
  .regards-container {
    display: flex;
    margin-top: 120px;
    width: 100%;
    .regards-title {
      width: 45%;
      font-weight: bold;
    }
    .regards {
      width: 55%;
    }
    @media (max-width: 480px) {
      margin-top: 40px;
      column-gap: 10px;
      padding: 0 10px;
      flex-direction: column;
      row-gap: 20px;
      .regards-title, .regards {
        width: 100%;
      }
    }
  }
  .exp-heading {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    margin: 100px 50px;
    font-size: 120px;
    filter: drop-shadow(-20px -20px 4px (#8c8c8c4f));
    @media (max-width: 480px) {
      font-size: 60px;
      margin: 30px 15px;
    }
  }
  .skills-heading {
    margin: 100px 50px 0 50px;
    letter-spacing: 10px;
  }
  .me-svg-path-container {
    position: relative;
    height: 100%;
    margin-top: 200px;

    .exp {
      position: absolute;
      right: 5%;
      width: 45%;
      display: flex;
      align-items: center;
      // height: 1202px;
      &-par {
        // height:1202px;
        // position: absolute;
        // font-size: 40px
        font-weight: bold;
        fill: white;
        right: 0;
        opacity: 0;
        display: none;
        // top:50%;
        width: 80%;
        word-wrap: break-word;
        font-family: "Playfair Display", serif;
      }
    }

    svg {
      max-width: 600px;
      overflow: visible;
      // margin-top: 60vh;
    }
    .theLine {
    }

    .ball {
      fill: white;
      visibility: hidden;
    }

    .line {
      fill: none;
      stroke: white;
      stroke-width: 2px;
      // visibility: hidden;
    }
    .svg-text {
      fill: white;
      font-size: 22px;

      font-family: "Playfair Display", serif;

      visibility: hidden;
    }
  }
  .me-footer {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    margin: 180px 0 100px 0;
    font-size: 16px;
    font-style: italic;
    align-items: center;
    .bitmoji-container {
      display: flex;
      align-items: center;
      .bitmoji-gif {
        display: block;
        width: 100px;
        animation: jump 2s ease-in-out infinite;
      }
    }
    @media (min-width: 1300px) {
      margin-bottom: 200px;
    }
    @media (max-width: 480px) {
      margin-bottom: 180px;
      padding: 0;
      flex-direction: column;
    }
  }
}

@keyframes jump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.email-popup {
  // width:240px ;
  padding: 0px 10px;
  border-radius: 50px;
  min-width: 274px;
  max-width: 274px;
  background-color: #d4003f;
  position: fixed;
  top: 20px;
  right: 50px;
  animation: jump 2s ease-in-out infinite;
  font-size: 16px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  filter: drop-shadow(0px 5px 8px #ee0249bb);
  z-index: 2;
  cursor: pointer;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  @media (max-width: 480px) {
    left: calc(50% - 147px);
  }
  .content-list {
    height: 120px;
    width: 100%;
    .email-popup {
      &-email,
      &-copy {
        // display: none;
        position: relative;
        width: 100%;
        min-height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        .bitmoji-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      &-bitmoji {
        width: 60px;
        // height: 40px;
        display: block;
      }
    }
  }
}

.marquee {
  height: 100px;
  width: 100%;
  font-size: 18px;
  // overflow-x: hidden;
  position: relative;
  color: white;
  border-top: 2px solid rgba(#fff, 0.2);
  border-bottom: 2px solid rgba(#fff, 0.2);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 150px 0;
  @media (max-width: 480px) {
    display: none;
  }

  span {
    display: block;
    font-weight: bold;
  }
  &::before {
    content: "Hobbies";
    z-index: 10;
    font-size: 26px;
    padding: 5px 20px;
    background-color: rgb(37, 37, 37);
    position: absolute;
    left: 50%;
    top: 0;
    color: white;
    z-index: 10;
    transform: translate(-50%, -50%);
    // font-weight: bold;
    letter-spacing: 6px;
  }
}

/* would need to be adjusted depending on time */
.marquee .marqueeone {
  animation: marquee 40s linear infinite;
  @media (max-width: 480px) {
    animation: marqueeForMob 40s linear infinite;
  }
}

.marquee .marqueetwo {
  animation: marquee 40s linear 10s infinite;
  @media (max-width: 480px) {
    animation: marquee 40s linear 10s infinite;
  }
}

.marquee .marqueethree {
  animation: marquee 40s linear 20s infinite;
  @media (max-width: 480px) {
    animation: marquee 40s linear 25s infinite;
  }
}

.marquee .marqueefour {
  animation: marquee 40s linear 30s infinite;
  @media (max-width: 480px) {
    animation: marquee 40s linear 35s infinite;
  }
}

/* even out the elements */
.marquee div {
  position: absolute;
  min-width: 250px;
  width: 100%;
  left: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marquee:hover div {
  // animation-play-state: paused;
}

/* add delay at the end of animation so you dont start while another div is going */
@keyframes marquee {
  0% {
    left: 100%;
  }
  50% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}
@keyframes marqueeForMob {
  0% {
    left: 100%;
  }
  50% {
    left: -200%;
  }
  100% {
    left: -200%;
  }
}
.email-popup-dark {
  background-color: #c1033c !important;
  // background-color: pink !important;
}
.email-popup-white {
  background-color: white !important;
  color: #1f1f1f;
  filter: none;
}

.viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 450px) {
  .me-container {
    .container-center {
      margin: 0;
      width: 100%;
      .about-me {
        transform: translate(-25px, -250px) scale(0.7) !important;
      }
    }
    .exp-par {
      &-1 {
        transform: translate(70px, 70px) scale(0.5);
      }
      &-2 {
        transform: translate(-80px, 270px) scale(0.59);
      }
      &-3 {
        transform: translate(-70px, 540px) scale(0.6);
      }
    }
  }
}
