.slectus-font-color{
    color: #00acc1 !important;
}
.slectus-background-color{
    background: #00acc1 !important;
}

.viewBtnBackClients {
    // background: #00acc1;
}

.slectus-background-color > h3 {
    color: #00acc1 !important;
}

.slectus-background-color {
    background: #00acc1 !important;
}

.slectus-background-color > div > h1 {
    color: #00acc1 !important;
}

.contentHeaderClients {
    color: #00acc1;
}
.righty{
    position: fixed;
    right: 60px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh;
    overflow: hidden;
    #overfloWrapper{
        width: 40vw;
        height:100vh;
        display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }
    .zoom{
        zoom: 2.2;
    }
}