.teamContainer {
  width: 100%;
  height: 100%;
  background: lightslategray;
  position: relative;
}
.purple-font-color{
  color: purple !important;
}
.purple-background-color{
  background: purple !important;
}

.purple-font-color > h3 {
  color: purple;
}

.purple-background-color {
  background: purple;
}

.purple-font-color > div > h1 {
  color: purple;
}


.viewBtnInnerWrapperTeam > h3 {
  color: purple;
}

.textLineTeam {
  background: purple;
}

.leftyTeam > div > h1 {
  color: purple;
}

.contentHeaderTeam {
  color: purple;
}
