.teamContainer {
  width: 100%;
  height: 100%;

  position: relative;
}
.white-font-color{
  color: white !important;
}
.white-background-color{
  background: white !important;
}

.white-font-color > h3 {
  color: white;
}

.white-background-color {
  background: white;
}

.white-font-color > div > h1 {
  color: white;
}


.viewBtnInnerWrapperTeam > h3 {
  color: white;
}
.viewBtnTeam:hover{
  .viewBtnInnerWrapperTeam > h3{
    color: black !important;
}
}

.textLineTeam {
  background: white;
}

.leftyTeam > div > h1 {
  color: white;
}

.contentHeaderTeam {
  color: white
}
