.teamContainer {
  width: 100%;
  height: 100%;
  background: lightslategray;
  position: relative;
}
.brown-font-color{
  color: brown !important;
}
.brown-background-color{
  background: brown !important;
}

.brown-font-color > h3 {
  color: brown;
}

.brown-background-color {
  background: brown;
}

.brown-font-color > div > h1 {
  color: brown;
}


.viewBtnInnerWrapperTeam > h3 {
  color: brown;
}

.textLineTeam {
  background: brown;
}

.leftyTeam > div > h1 {
  color: brown;
}

.contentHeaderTeam {
  color: brown
}
