.orange-font-color {
  color: orange !important;
}
.orange-background-color {
  background: orange !important;
}

.viewBtnBackClients {
  // background: orange;
}

.orange-font-color > h3 {
  color: orange;
}

.orange-background-color {
  background: orange;
}

.orange-font-color > div > h1 {
  color: orange;
}

.contentHeaderClients {
  color: orange;
}
.righty {
  position: fixed;
  right: 60px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 100vh;
  overflow: hidden;
  #overfloWrapper {
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .mobileImage{
      transform: translateX(-130%);
  }
}
